<% if notice.present? %>
  <div popover class="flash" style="--flash-position: 5rem;" data-controller="element-removal" data-action="animationend->element-removal#remove" role="alert"><%= notice %></div>
<% end %>

<%= render @task %>

<div class="flex flex-wrap items-center gap mbs-6" style="--row-gap: .5rem">
  <%= link_to "Edit this task", edit_task_path(@task), class: "btn" %>
  <%= link_to "Back to tasks", tasks_path, class: "btn" %>
  <%= button_to "Destroy this task", @task, method: :delete, class: "btn" %>
</div>



<div class="flex items-center justify-between mbe-4">
  <h1 class="font-bold text-4xl">Messages</h1>
</div>

<div id="messages" class="flex flex-col" style="gap: 2rem;">
  <% @task.messages.each do |message| %>
    <div class="flex flex-col items-start gap">
      <%= render message %>
      <%= link_to "Show this message", message, class: "btn" %>
    </div>
  <% end %>
</div>


<%= form_with(model: [@task, Message.new], html: { contents: true }) do |form| %>
 

  <div class="flex flex-col gap-half mbe-4">
    <%= form.label :content, class: "text-sm font-medium leading-none" %>
    <%= form.textarea :content, rows: "auto", class: "input" %>
  </div>

  <div class="inline-flex items-center mbs-2 mie-1">
    <%= form.submit class: "btn btn--primary" %>
  </div>
<% end %>
